<form [formGroup]="CertificacionesArray">
    <div formArrayName="certificaciones">
        <div class="title color-blue text-uppercase">Certificaciones</div>
        <div *ngFor="let experiencia of CertificacionesArray.controls.certificaciones.controls; let i=index" class="panel panel-default separator">
           
            <div class="panel-body" [formGroupName]="i">
                <certificaciones [group]="CertificacionesArray.controls.certificaciones.controls[i]" [Index]="i"
                                 (Remove)="removeCertificacion($event)"></certificaciones>
            </div>
        </div>
    </div>
    <div class="margin-20">
        <a (click)="addCertificacion()" style="cursor: default" data-toggle="tooltip" title="Agregar certificación.">
            <i class="fa fa-plus-circle fa-2x clickable" aria-hidden="true"></i>
        </a>
    </div>
</form>