<div class="col-filters">

                <div class="col-12">
                    <div class="color-grey float-left">MI CV</div>
                    <div class="float-right link-blue">Editar CV</div>

                    <div class="clearfix"></div>

                    <div class="info-part1">
                        <div class="filters-graph float-left"><img src="assets/images/graphic-test.png" width="100" /></div>
                        <div class="color-grey text-graphic float-right">¡Te falta muy poco para tener tu perfil completo!</div>
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="col-100 col-lg-12 col-sm-6">
                    <div class="top-filters color-white"><img src="assets/images/icon-search.png" width="25" /> Definir búsqueda </div>

                    <div class="search-filters">
                        <input class="input-search" placeholder="Palabra Clave" [(ngModel)]="filtro"/>
                        <div class="btn-search" (click)="buscavacantes()">Buscar</div>
                    </div>
                </div>

                <div class="col-100 col-lg-12 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-location.png"/> Zona </div>

                    <div class="search-filters">
                        <input class="input-search" placeholder="Código Postal"/>
                        <div class="btn-search">Buscar</div>
                    </div>
                </div>

                <div class="clearfix delete-991"></div>

                <div class="col-100 col-lg-12 col-md-4 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-location.png"/> Estado </div>

                    <div class="filter-content scrollbar">
                        <ul>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-100 col-lg-12 col-md-4 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-location.png"/> Ciudad </div>

                    <div class="filter-content scrollbar">
                        <ul>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="col-100 col-lg-12 col-md-4 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-education.png"/> Escolaridad </div>

                    <div class="filter-content scrollbar">
                        <ul>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-100 col-lg-12 col-md-4 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-type.png"/> Tipo de jornada </div>

                    <div class="filter-content scrollbar">
                        <ul>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-100 col-lg-12 col-md-4 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-money.png"/> Salario </div>

                    <div class="filter-content scrollbar">
                        <ul>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-100 col-lg-12 col-md-4 col-sm-6">
                    <div class="filter-category"><img src="assets/images/icon-category.png"/> Categoría </div>

                    <div class="filter-content scrollbar">
                        <ul>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                            <li>Opcion</li>
                        </ul>
                    </div>
                </div>
            </div>
