<form [formGroup]="FormacionesArray">

    <div class="row label-data">
        <div class="col-md-3 col-sm-6 font-bold">
            <div class="btn-edit">
                <a (click)="addFormacion()" style="cursor: default" data-toggle="tooltip" title="Agregar formación.">
                    <img src="assets/images/icon-more.png" />
                </a>
            </div>
        </div>
        <div class="col-md-9 col-sm-6">
            Conjunto de conocimientos adquiridos que describe la trayectoria
            formativa del candidato.
        </div>
    </div>

    <div class="row label-data">
        <div class="col-12 box-registro" *ngFor="let formacion of FormacionesArray.controls.Formaciones.controls; let i=index">
            <div formArrayName="Formaciones">
                <div class="panel-body" [formGroupName]="i">
                    <Formaciones [group]="FormacionesArray.controls.Formaciones.controls[i]" [Index]="i"
                                 (Remove)="removeFormacion($event)"></Formaciones>
                </div>
            </div>
        </div>
    </div>

    <!--<div formArrayName="Formaciones">
        <div class="title color-blue text-uppercase">Formación</div>
        <div *ngFor="let formacion of FormacionesArray.controls.Formaciones.controls; let i=index" class="panel panel-default separator">
            <div class="panel-body" [formGroupName]="i">
                <Formaciones [group]="FormacionesArray.controls.Formaciones.controls[i]" [Index]="i"
                             (Remove)="removeFormacion($event)"></Formaciones>
            </div>
        </div>
    </div>-->
    <!--<div class="margin-20">
        <a (click)="addFormacion()" style="cursor: default" data-toggle="tooltip" title="Agregar formación.">
            <i class="fa fa-plus-circle fa-2x clickable" aria-hidden="true"></i>
        </a>
    </div>-->
</form>
