<div class="menu-lateral" [hidden]="showMenu">
    <div class="social-bar-mobile text-center hidden-md-up">
        <div class="btn-top"><img src="/assets/images/facebook.png" /></div>
        <div class="btn-top"><img src="/assets/images/twitter.png" /></div>
        <div class="btn-top"><img src="/assets/images/linkedin.png" /></div>

        <div class="btn-top border-left"><img src="/assets/images/profile.png" /></div>

        <div class="btn-top border-left btn-notify">
            <img src="/assets/images/notifications.png" />
            <div class="circles-notify">
                <div class="circle-green"></div>
                <div class="circle-white"></div>
                <div class="circle-white"></div>
            </div>
        </div>

        <div class="btn-top border-left">EN</div>

        <div class="btn-top border-left"><img src="/assets/images/search.png" class="search" /></div>
    </div>

    <div class="info-user hidden-md-up">
        <div class="picture-profile"><img src="/assets/images/photo-default.png" /></div>
        <div class="name-profile text-uppercase color-white">Carmen Martín</div>
    </div>

    <div class="btn-principal active text-center">
        <img src="/assets/images/icon-profile.png" />
        <span>Mi perfil</span>
    </div>
    <div class="btn-lateral active"> Información General</div>
    <div class="btn-lateral"> Datos personales</div>
    <div class="btn-lateral"> Dirección</div>
    <div class="btn-lateral"> Identificación Oficial</div>
    <div class="btn-lateral"> Redes Sociales</div>


    <div class="btn-principal text-center">
        <img src="/assets/images/icon-cv.png" />
        Mi C.V.
    </div>
    <div class="btn-principal text-center">
        <img src="/assets/images/icon-alerts.png" />
        Mis Alertas
    </div>
    <div class="btn-principal text-center">
        <img src="/assets/images/icon-search.png" />
        Buscar
    </div>
    <div class="btn-principal text-center">
        <img src="/assets/images/icon-applications.png" />
        Postulaciones
    </div>

    </div>
