<div class="col-lg-12  padding-991">
    <div class="profile-percent">
        <div class="color-blue font-bold text-center">Mi perfil profesional está al</div>
        <img src="/assets/images/graphic-test.png" />

        <ul>
            <li class="link-blue">Agregar fotografía</li>
            <li class="link-blue">Completar Datos Personales</li>
            <li class="link-blue">Completar Datos Identificación Oficial</li>
            <li class="link-blue">Agregar Redes Sociales</li>
            <li class="link-blue">Completar Acerca de Mí</li>
            <li class="link-blue">Agregar Experiencia Profesional</li>
            <li class="link-blue">Agregar Formación</li>
            <li class="link-blue">Agregar Conocimientos y Habilidades</li>
            <li class="link-blue">Agregar Idiomas</li>
            <li class="link-blue">Agregar tu Sitio Web</li>
            <li class="link-blue">Activar alertas</li>
        </ul>

        <div class="text-uppercase font-bold color-yellow legend">
            Para brindarte un mejor servicio y encontrar la vacate ideal para ti, ayúdanos a llenar los siguientes datos
        </div>
    </div>
</div>
