<div class="header">
	<damsa-bar-social></damsa-bar-social>
	<damsa-barra (ClickMenuBoton)="ShowMenu()" [Oculto]="Oculto" [CandidatoId]="CandidatoId"></damsa-barra>
	<damsa-menu-oculto [ShowMenu]="showMenu" [CandidatoId]="CandidatoId"></damsa-menu-oculto>
</div>
	<div class="global-container">
		<form [formGroup]="PerfilCandidato" novalidate (ngSubmit)="save(PerfilCandidato)">
			<div class="row contenido">
				<div class="col-lg-9 col-12 padding-991 col-izq">
					<!--Panel de acerca de mi-->
					<div class="cv-about-container">
						<div class="row cv-about container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Acerca de mí
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>

							<div class="col-12 color-grey content-tab">
								<aboutme [PerfilCandidatoId]="PerfilCandidatoId"></aboutme>
							</div>
						</div>
					</div>
					<!--Panel de experiencias-->
					<div class="cv-experience-container">
						<div class="row cv-experience container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Experiencia profesional
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>

							<div class="col-12 color-grey content-tab">
								<ExperienciasArray [PerfilCandidatoId]="PerfilCandidatoId"></ExperienciasArray>
							</div>
						</div>
					</div>
					<!--Panel de formaciones-->
					<div class="cv-formation-container">
						<div class="row cv-formation container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Formación
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>


							<div class="col-12 color-grey content-tab">
								<FormacionesArray [PerfilCandidatoId]="PerfilCandidatoId"> </FormacionesArray>
							</div>
						</div>
					</div>
					<!--Panel de conocimientos-->
					<div class="cv-knowledge-container">
						<div class="row cv-knowledge container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Conocimiento y habilidades
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>


							<div class="col-12 color-grey content-tab">
								<ConocimientosArray [PerfilCandidatoId]="PerfilCandidatoId"></ConocimientosArray>
							</div>
						</div>
					</div>
					<!--Panel de cursos-->
					<div class="cv-cursos-container">
						<div class="row cv-cursos container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Cursos
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>


							<div class="col-12 color-grey content-tab">
								<CursosArray [PerfilCandidatoId]="PerfilCandidatoId"></CursosArray>
							</div>
						</div>
					</div>
					<!--Panel de certificaciones-->
					<div class="cv-certificaciones-container">
						<div class="row cv-certificaciones container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Certificaciones
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>


							<div class="col-12 color-grey content-tab">
								<CertificacionesArray [PerfilCandidatoId]="PerfilCandidatoId"></CertificacionesArray>
							</div>
						</div>
					</div>
					<!--Panel de idiomas-->
					<div class="cv-lang-container">
						<div class="row cv-lang container-tab">

							<div class="col-12">
								<div class="title color-blue text-uppercase">
									Idiomas
									<div class="tab-open closed">
										<div class="horizontal"></div>
										<div class="vertical"></div>
									</div>
								</div>
							</div>

							<div class="col-12 color-grey content-tab">
								<IdiomasArray [PerfilCandidatoId]="PerfilCandidatoId"></IdiomasArray>
							</div>
						</div>
					</div>
					<!--Panel de mi sitio web-->
					<!--<div class="cv-web-container">
					<div class="row cv-web container-tab">

						<div class="col-12">
							<div class="title color-blue text-uppercase">
								Tu sitio web
								<div class="tab-open closed">
									<div class="horizontal"></div>
									<div class="vertical"></div>
								</div>
							</div>
						</div>


						<div class="col-12 color-grey content-tab">
							<div class="btn-edit"><img src="assets/images/icon-edit.png" /></div>
							http://www.misitioweb.com.mx
						</div>
					</div>
				</div>-->

				</div>
				<div class="col-lg-3 col-12 padding-991  col-der">
					<div class="profile-percent">
						<div class="color-blue font-bold text-center">Mi perfil profesional está al</div>
						<img src="assets/images/graphic-test.png" />

						<ul>
							<li class="link-blue">Agregar fotografía</li>
							<li class="link-blue">Completar Datos Personales</li>
							<li class="link-blue">Completar Datos Identificación Oficial</li>
							<li class="link-blue">Agregar Redes Sociales</li>
							<li class="link-blue">Completar Acerca de Mí</li>
							<li class="link-blue">Agregar Experiencia Profesional</li>
							<li class="link-blue">Agregar Formación</li>
							<li class="link-blue">Agregar Conocimientos y Habilidades</li>
							<li class="link-blue">Agregar Idiomas</li>
							<li class="link-blue">Agregar tu Sitio Web</li>
							<li class="link-blue">Activar alertas</li>
						</ul>

						<div class="text-uppercase font-bold color-yellow legend">
							Para brindarte un mejor servicio y encontrar la vacate ideal para ti, ayúdanos a llenar los siguientes datos
						</div>

						<div class="btn-yellow">Descarga tu CV</div>
					</div>
				</div>
			</div>
		</form>
</div>

	<!-- Ana -->
	<!--<form [formGroup]="PerfilCandidato" novalidate (ngSubmit)="save(PerfilCandidato)" class="form-inline">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-10 padding-991">-->
				<!--<input type="text" value="" formControlName="CandidatoId" hidden="hidden" />
				<input type="text" value="" formControlName="perfilCandidatoId" hidden="hidden" />-->
				<!--Aboutme-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">
							<aboutme [PerfilCandidatoId]="PerfilCandidatoId"></aboutme>
						</div>
					</div>
				</div>-->
				<!--Experiencias Profesional-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">
							<ExperienciasArray [PerfilCandidatoId]="PerfilCandidatoId"></ExperienciasArray>
						</div>
					</div>
				</div>-->
				<!--Formaciones-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">

							<FormacionesArray [PerfilCandidatoId]="PerfilCandidatoId"> </FormacionesArray>

						</div>
					</div>
				</div>-->
				<!--Certificaciones-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">
							<CertificacionesArray [PerfilCandidatoId]="PerfilCandidatoId"></CertificacionesArray>
						</div>
					</div>
				</div>-->
				<!--Idiomas-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">
							<IdiomasArray [PerfilCandidatoId]="PerfilCandidatoId"></IdiomasArray>
						</div>
					</div>
				</div>-->
				<!--cursos-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">
							<CursosArray [PerfilCandidatoId]="PerfilCandidatoId"></CursosArray>

						</div>
					</div>
				</div>-->
				<!--Conocimientos-->
				<!--<div class="identification-information-container">
					<div class="row identification-information">
						<div class="col-12 color-grey">
							<ConocimientosArray [PerfilCandidatoId]="PerfilCandidatoId"></ConocimientosArray>
						</div>
					</div>
				</div>-->
				<!--<div class="margin-20">
					<div>myForm details:-</div>
					<pre>Is myForm valid?: <br>{{PerfilCandidato.valid | json}}</pre>
					<pre>form value: <br>{{PerfilCandidato.value | json}}</pre>
				</div>-->

			<!--</div>-->

			<!--<div class="col-xs-12 col-md-12 col-lg-2 padding-991">
				<damsa-profile-percentage></damsa-profile-percentage>
			</div>-->
		<!--</div>
	</form>-->




